@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    background: #000;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.wrapper {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(26,14,1,1) 100%);
    width: 100%;
}
.container {
    width: 1300px;
    margin: 0 auto;
}
header{
    padding: 50px 0;
}
header .logo,
footer .blocks .logo{
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 800;
}
header nav{
    float: right;
    width: 50%;
}
header nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}
header nav ul li{
    display: inline-block;
}
header nav ul li a{
    color: #fff;
}
header nav ul li.active::after{
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background: #DC7000;
    border-radius: 10px;
    position: relative;
    top: 10px;
    right: 20px;
}
header nav ul li:not(.active):not(.btn) a:hover{
    border-bottom: 5px solid #DC7000;
}
header nav ul li.btn a, .email .block button{
    background: #FA9021;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 500ms ease;
}
header nav ul li.btn a:hover, .email .block button:hover{
    background: #a02604;
}
.logo {
}
.active {
}
.btn {
}
.hero {
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
}
.hero__info {
    width: 530px;
    padding-top: 70px;
}
.hero__info h2{
    font-size: 20px;
    font-weight: bold;
    color: #E87D0E;
}
.hero__info h1{
    font-size: 50px;
    font-weight: 600;
}
.hero__info p{
    font-weight: 500;
    line-height: 170%;
    margin: 30px 0;
}
.hero__info .btn{
    background: #FA8305;
    color: #fff;
    border-radius: 50px;
    padding: 15px 30px;
    border: 0;
    transition: all 500ms ease;
    font-size: 17px;
}
.hero__info .btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.hero img{
    position: absolute;
    top: -150px;
    right: -40px;
    width: 806px;
    height: 761px;
}

.trending{
    padding-top: 50px;
}

.trending h3{
    font-weight: 600;
    font-size: 31px;
}
.trending .see-all, .projects .see-all{
    color: #fff;
    font-size: 18px;
    background: #25211D;
    border-radius: 5px;
    padding: 12px 23px;
    float: right;
    display: block;
    transition: all 500ms ease;
}

.trending .see-all:hover, .projects .see-all:hover{
    transform: scale(1.1);
}
.games{
    margin-top: 72px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    

}
.games span{
    display: block;
    text-align: center;
    margin-top: 20px;
}
span img{
    position: relative;
    top: 5px;
    margin-right: 7px;

}

.big_text{
    padding: 50px 0;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    width: 826px;
}
.banner{
    padding: 80px 0;
}
.banner h3{
    font-size: 30px;
    font-weight: bold;
}
.banner p{
    line-height: 170%;
    margin-top: 20px;
    width: 545px;
    margin-bottom: 30px;
}
.banner img{
    width: 100%;
    margin-bottom: 30px;
}


.features{
    background: url(img/features/Group\ 1322.png) no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0;
}
.features h3{
    font-weight: bold;
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
    max-width: 826px;
    margin-bottom: 20px;
}
.label{
    font-size: 16px;
    width: 820px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
}
.info{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.block{
    text-align: center;
    width: 20%;
    margin: 30px 2%;
}
.block img{
    margin-bottom: 20px;

}
.block p{
    margin-bottom: 20px;
}
.projects{
    padding-bottom: 100px;
}
.projects h3{
    padding-top: 150px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.projects p{
    font-size: 14px;
    text-align: center;
    width: 497px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.images{
    text-align: center;
}
.images img{
    padding: 10px;
}
.projects .see-all{
    float: none;
    width: 70px;
    text-align: center;
    margin: 0 auto;
}
.email{
    padding-bottom: 120px;
}
.email h3{
    margin-top: 60px;
    font-size: 30px;
}
.email .block{
    background: #1C140F;
    margin-top: 30px;
    border-radius: 10px;
    padding: 40px 3%;
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.email .block h4{
    font-size: 30px;
    font-weight: 500;
}
.email .block p{
    width: 500px;
}
.email .block input{
    background: #fff;
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 380px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 20px 30px;
    position: relative;
    right: -100px;
    z-index: 1;
    padding-right: 120px;
}
.text_down{
    margin-left: 27px;
}
.email .block input::placeholder{
    color: #898989;
}
.email .block button{
    cursor: pointer;
    border: 0;
    padding: 13px 17px;
    position: relative;
    z-index: 2;
    color: #fff;
}

/*ABOUT US*/
.about__us {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.about{
    display: flex;
}
.about__us img{
    
}
.container {
    
}
.info__about {
}
.info__about h1{
    width: 425px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}
.info__about p{
    font-size: 15px;
    width: 414px;
    margin-bottom: 50px;
}
.first__text {
}
.second__text {
}
.btn_a {
    width: 176px;
    height: 47.84px;
    border-radius: 50px;
    border: 0;
    background: #FA8305;
    color: #fff;
    transition: all 500ms ease;
    cursor: pointer;
    font-weight: 500;
}
.btn_a:hover{
    background: #FB9E3C;
    transform: scale(1.1);
}
/*ABOUT US*/

/*Why*/
.why_text h2{
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: 500;
}
.why_blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.why_block {
    padding: 70px 20px;
    background: #1C140F;
    border-radius: 15px;
    width: 378px;
    height: 348px;
    box-sizing: border-box;
    margin-bottom: 150px;
}
.why_block p{
    font-size: 14px;
    width: 304px;
    line-height: 180%;
}

.why_block h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.color_1 {
    font-size: 14px;
    margin-bottom: 20px;
    width: 140px;
    height: 39px;
    background: #B000DC;
    border: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}
.color_2 {
    font-size: 14px;
    margin-bottom: 15px;
    width: 140px;
    height: 39px;
    background: #DC4200;
    border: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}
.color_3 {
    font-size: 14px;
    margin-bottom: 15px;
    width: 140px;
    height: 39px;
    background: #00DC8D;
    border: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}
/*Why*/

/*infos*/
.infos__block {
    background: #1C140F;
    display: flex;
    height: 603px;
}
.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.content img{
    padding-top: 113px;
    box-sizing: border-box;
}
.text_content{
    width: 536px;
}
.text_content p{
    margin-bottom: 20px;
}
.text_content h3{
    font-size: 28px;
    line-height: 157%;
    margin-bottom: 40px;
}
.text_content .aboba{
    line-height: 202%;
    font-size: 16px;
}
/*infos*/

/*contact*/

.hero-contacts h1{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 33px;
}
.hero-contacts p{
    text-align: center;
}
.hero-contacts img{
    width: 70%;
    margin: 80px 15%;
}
/*contact*/

/*form*/
.feedback{
    padding: 70px 0;
    background: #1C140F;
}
.feedback h2{
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}
.feedback p{
    text-align: center;
    margin-top: 10px;
}
.feedback form{
    margin: 80px auto;
    width: 600px;
}
.feedback form .inline{
    display: flex;
    justify-content: space-between;
}
.feedback form .inline > div{
    width: 50%;
}
.feedback form label{
    color: #4F4F4F;
    font-size: 14px;
}
.feedback form input,
.feedback form textarea{
    background: #2C2420;
    border-radius: 10px;
    border: 0.6 solid #CECECE;
    display: block;
    width: 90%;
    padding: 15px 10px;
    outline: none;
    color: #fff;
    margin-top: 7px;
    margin-bottom: 20px;
    
}
.feedback form .one-line{
    width: 96%;
}
.feedback form textarea{
    resize: none;
    height: 200px;
}
.feedback form button{
    background: #DC7000;
    border-radius: 5px;
    border: 0;
    float: right;
    cursor: pointer;
    color: #fff;
    padding: 15px 35px;
    transition: all 500ms ease;
}
.feedback form button:hover{
    background: #b01414;
}



/*form*/





/*FOOTER*/

footer{
    background: #000;
    padding: 50px 0;
}
footer .blocks{
    display: flex;
    justify-content: space-between;
}
footer .blocks p{
    width: 300px;
    margin: 15px 0;
}
footer .blocks h4{
    font-weight: 500;
    font-size: 17px;
}
footer .blocks ul{
    list-style: none;
}
footer .blocks ul li{
    margin-top: 7px;
    opacity: 0.8;
}
footer hr{
    margin: 30px 0;
    border: 0;
    height: 0.6px;
    background: #ccc;
}
footer > p{
    text-align: center;
}